# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual Environment
venv/
ENV/
env/
.venv/
.ENV/
.env/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db